 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 931px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 110px auto 0;
}

.u-section-1 .u-image-1 {
  width: 317px;
  height: 317px;
  background-image: url("images/116587323_3526723340706298_605743345773485714_o2.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 400;
  width: 570px;
  margin: 51px auto 0;
}

.u-section-1 .u-text-3 {
  width: 739px;
  margin: 19px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 300;
  line-height: 1.8;
  width: 739px;
  margin: 18px auto 0;
}

.u-section-1 .u-social-icons-1 {
  height: 50px;
  min-height: 16px;
  width: 131px;
  min-width: 63px;
  margin: 12px auto 58px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-social-icons-1 {
    min-width: 110px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    width: 720px;
  }

  .u-section-1 .u-text-4 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    width: 540px;
  }

  .u-section-1 .u-text-4 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-text-4 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 582px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 636px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 31px 0 0 16px;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 25px 23px 0 16px;
}

.u-section-2 .u-image-1 {
  width: 67px;
  height: 56px;
  margin: 0 auto 0 4px;
}

.u-section-2 .u-text-3 {
  margin: -42px 100px 0 75px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 67px;
  height: 67px;
  margin: 41px auto 0 4px;
}

.u-section-2 .u-text-4 {
  margin: -58px 0 0 85px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-image-3 {
  width: 59px;
  height: 66px;
  margin: 33px auto 0 0;
}

.u-section-2 .u-image-4 {
  width: 60px;
  height: 60px;
  margin: -64px auto 0 85px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-2 .u-image-5 {
  width: 428px;
  height: 428px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 55px;
    margin-left: 30px;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-image-5 {
    width: 354px;
    height: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-2 .u-image-5 {
    width: 320px;
    height: 320px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 651px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: -1px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 652px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-3 .u-video-1 {
  height: 359px;
  width: 585px;
  margin: 0 auto;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 691px;
}

.u-section-3 .u-container-layout-2 {
  padding: 9px 0 0;
}

.u-section-3 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 79px 30px 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 16px 30px 0;
}

.u-section-3 .u-image-1 {
  width: 55px;
  height: 56px;
  margin: -1px auto 0 4px;
}

.u-section-3 .u-text-3 {
  margin: -40px 2px 0 75px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-image-2 {
  width: 55px;
  height: 58px;
  margin: 31px auto 0 4px;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  margin: -52px auto 0 77px;
  padding: 0;
}

.u-section-3 .u-text-4 {
  margin: 4px 0 0 77px;
}

.u-section-3 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: 14px auto 0 93px;
}

.u-section-3 .u-image-4 {
  width: 59px;
  height: 66px;
  margin: -60px auto 0 4px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 526px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-3 .u-video-1 {
    height: 307px;
    width: 501px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 570px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 412px;
  }

  .u-section-3 .u-video-1 {
    height: 235px;
    width: 384px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 260px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 579px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 365px;
  }

  .u-section-3 .u-video-1 {
    height: 208px;
    width: 340px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 606px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 556px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 31px 0 0 16px;
}

.u-section-4 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 24px 23px 0 16px;
}

.u-section-4 .u-image-1 {
  width: 55px;
  height: 56px;
  margin: 19px auto 0 29px;
}

.u-section-4 .u-text-3 {
  margin: -53px 48px 0 103px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-image-2 {
  width: 59px;
  height: 66px;
  margin: 45px auto 0 25px;
}

.u-section-4 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: -63px auto 0 119px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-4 .u-video-1 {
  height: 359px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 3px;
    margin-left: 58px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 458px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-2 {
    padding-top: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 564px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-5 .u-video-1 {
  height: 359px;
  width: 585px;
  margin: 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 565px;
}

.u-section-5 .u-container-layout-2 {
  padding: 29px 27px 30px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 1px 3px 0;
}

.u-section-5 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 15px 3px 0;
}

.u-section-5 .u-image-1 {
  width: 55px;
  height: 56px;
  margin: 5px auto 0 4px;
}

.u-section-5 .u-text-3 {
  margin: -41px 0 0 75px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 59px;
  height: 66px;
  margin: 57px auto 0 0;
}

.u-section-5 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: -63px auto 0 93px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-5 .u-video-1 {
    height: 307px;
    width: 501px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 99px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-video-1 {
    height: 235px;
    width: 384px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 199px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-video-1 {
    height: 208px;
    width: 340px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 616px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 522px;
}

.u-section-6 .u-container-layout-1 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 31px 0 0 16px;
}

.u-section-6 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 25px 23px 0 16px;
}

.u-section-6 .u-image-1 {
  width: 55px;
  height: 56px;
  margin: 18px auto 0 29px;
}

.u-section-6 .u-text-3 {
  margin: -53px 49px 0 102px;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-image-2 {
  width: 59px;
  height: 66px;
  margin: 45px auto 0 25px;
}

.u-section-6 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: -63px auto 0 119px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 556px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-video-1 {
  height: 359px;
  width: 585px;
  margin: 89px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-6 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-3 {
    margin-right: 4px;
    margin-left: 57px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-6 .u-video-1 {
    height: 317px;
    width: 517px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-video-1 {
    height: 243px;
    width: 396px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-video-1 {
    height: 209px;
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 565px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-video-1 {
  height: 356px;
  width: 599px;
  margin: 67px auto 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 565px;
}

.u-section-7 .u-container-layout-2 {
  padding: 29px 27px;
}

.u-section-7 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 0 3px;
}

.u-section-7 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 16px 3px 0;
}

.u-section-7 .u-image-1 {
  width: 55px;
  height: 56px;
  margin: 5px auto 0 4px;
}

.u-section-7 .u-text-3 {
  margin: -42px 0 0 75px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-7 .u-image-2 {
  width: 59px;
  height: 66px;
  margin: 10px auto 0 0;
}

.u-section-7 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: -60px auto 0 82px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 466px;
  }

  .u-section-7 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-7 .u-video-1 {
    height: 298px;
    width: 501px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-video-1 {
    height: 228px;
    width: 384px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 200px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-video-1 {
    height: 202px;
    width: 340px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-top: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 582px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 522px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 31px 0 0 16px;
}

.u-section-8 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 25px 23px 0 16px;
}

.u-section-8 .u-image-1 {
  width: 55px;
  height: 56px;
  margin: 18px auto 0 29px;
}

.u-section-8 .u-text-3 {
  margin: -53px 49px 0 102px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-image-2 {
  width: 59px;
  height: 66px;
  margin: 45px auto 0 25px;
}

.u-section-8 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: -63px auto 0 119px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 522px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-8 .u-video-1 {
  height: 359px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-8 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-right: 4px;
    margin-left: 57px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-8 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 622px;
}

.u-section-9 .u-layout-wrap-1 {
  margin-top: 57px;
  margin-bottom: 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 565px;
}

.u-section-9 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-9 .u-video-1 {
  height: 359px;
  width: 585px;
  margin: 82px auto 0;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 565px;
}

.u-section-9 .u-container-layout-2 {
  padding: 29px 0;
}

.u-section-9 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 1px 30px 0;
}

.u-section-9 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 15px 30px 0;
}

.u-section-9 .u-image-1 {
  width: 55px;
  height: 56px;
  margin: 18px auto 0 37px;
}

.u-section-9 .u-text-3 {
  margin: -56px 12px 0 117px;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  margin-top: 0;
  padding: 0;
}

.u-section-9 .u-image-2 {
  width: 65px;
  height: 65px;
  margin: 35px auto 0 32px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 451px;
  }

  .u-section-9 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-9 .u-video-1 {
    height: 307px;
    width: 501px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-3 {
    margin-right: 0;
    margin-left: 36px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-9 .u-video-1 {
    height: 235px;
    width: 384px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 320px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-video-1 {
    height: 208px;
    width: 340px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-top: 0;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 589px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 517px;
}

.u-section-10 .u-container-layout-1 {
  padding: 25px 0;
}

.u-section-10 .u-text-1 {
  letter-spacing: 0px;
  line-height: 1.4;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 6px 0 0 16px;
}

.u-section-10 .u-text-2 {
  font-size: 1rem;
  line-height: 2;
  font-weight: 400;
  margin: 25px 23px 0 16px;
}

.u-section-10 .u-image-1 {
  width: 55px;
  height: 56px;
  margin: 53px auto 0 27px;
}

.u-section-10 .u-text-3 {
  margin: -54px 53px 0 100px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-10 .u-image-2 {
  width: 59px;
  height: 66px;
  margin: 21px auto 0 23px;
}

.u-section-10 .u-image-3 {
  width: 60px;
  height: 60px;
  margin: -63px auto 0 116px;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 469px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 21px;
}

.u-section-10 .u-video-1 {
  height: 359px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 507px;
  }

  .u-section-10 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 426px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
  }

  .u-section-10 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-text-3 {
    margin-right: 8px;
    margin-left: 55px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 387px;
  }

  .u-section-10 .u-video-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 220px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 320px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-container-layout-2 {
    padding-top: 0;
  }
}